footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Pousse le footer vers le bas */ 
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
