nav {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, #000000, #000000), #FFFFFF;
}

.navigation {
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

#logo {
    width: 56%;
}

.account {
    padding: 15px 70px;
    border: 2px solid #FF3230;
    color: #FF3230;
    font-size: 30px;
    font-family: arial;
    background-image: linear-gradient(#FF3230, #FF3230);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;

    margin-right: 4%;
    border-radius: 10%;
    padding-left: 1.75%;
    padding-right: 1.75%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}


.account a {
    font-size: 30px;
    font-family: 'Inter';
    font-style: normal;
    color: #fff;
    text-decoration: none;

}

.account:hover {
    background-size: 100% 100%;
    color: #fff;
}

.navigation-text {
    /* border: 1px solid #000000; */
    margin-left: 2%;
    margin-right: 5%;
    font-size: 30px;
}

.navigation-text a {
    color: #EAE2E2;
    font-family: 'Inter';
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    text-decoration: none;
}

.navigation-text a:hover {
    font-size: 35px;
    mix-blend-mode: hard-light;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navigation-top {
    flex-wrap: 1;
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    justify-content: end;
}

.navigation-middle {
    flex-wrap: 1;
    margin: 6%;
}

.navigation-bottom {
    flex-wrap: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#informations {
    left: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
    color: red;
    margin-left: 10%;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#localisation {
    left: 100px;
    margin-bottom: 30px;
    color: rgb(18, 8, 8);
    margin-left: 10%;
    text-align: center;

}

#comment {
    color:#FF3230;
    text-align: center;
}

.card {
    border-radius: 8%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.card-text {
    text-align: center;
    color : red;
    font-weight: bolder;
}

.card-img-top {
    border-radius: 10%
}

.verification {
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: underline;
    border-color: #FF3230;
    border-top-right-radius: solid;
}

#part2 {
    text-align : center;
    color: red;
    flex-direction: row;
    border-top-right-radius: solid 20px;
      
}

.text {
    color: black;
}

/* .body {
    background-image: url(fear-travel/photo-accueil/background.jpg);
} */

.banner-hote {
    background-image: url(fear-travel/photo-accueil/background.jpg);
}

footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Pousse le footer vers le bas */
}


.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
