nav {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, #000000, #000000), #FFFFFF;
}
.navigation {
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}
#logo {
    width: 56%;
 }

.account {
    padding: 15px 70px;
    border: 2px solid #FF3230;
    color: #FF3230;
    font-size: 30px;
    font-family: arial;
    background-image: linear-gradient(#FF3230, #FF3230);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
   
    margin-right: 4%;
    border-radius: 10%;
    padding-left: 1.75%;
    padding-right: 1.75%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }


.account a {
    font-size: 30px;
    font-family: 'Inter';
    font-style: normal;
    color: #fff;
    text-decoration: none;
    
}
.account:hover{
    background-size: 100% 100%;
    color: #fff;
}
.navigation-text {
    /* border: 1px solid #000000; */
    margin-left: 2%;
    margin-right: 5%;
    font-size: 30px;
}
.navigation-text a {
    color: #EAE2E2;
    font-family: 'Inter';
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    text-decoration: none;
}
.navigation-text a:hover {
    /* font-size: 32px; */
    mix-blend-mode: hard-light;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navigation-top {
    flex-wrap: 1;
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    justify-content: end;
}
.navigation-middle {
    flex-wrap: 1;
    margin: 6%;
}
.navigation-bottom {
    flex-wrap: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-bottom div {
    transition: 1s;
}

.navigation-bottom div:hover {
    transform: scale(1.2);
}
.banner {
    background-image: url('photo-accueil/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center; 
  }
  
  .banner p {
    color: white;
    font-size: 45px;
    margin: 0;
  }

  .container h1 {
    font-size: 35px;
    /* width: 900px; */
    margin: 60px auto;
}

.card-white {
background: white;
box-shadow: 0 0 16px rgba(0,0,0,0.1);
border-radius: 4px;
padding: 24px;
margin: 8px;
flex-grow: 1;
transition: 1s;
}

.card-white img {
width: 100%;
height: 180px;
object-fit: cover;
border-radius: 4px;
}

.card-white h3 {
margin-bottom: 0;
}

.footer {
background: #404042;
color: white;
padding: 10px 0px;
}

.cards {
display: flex;
flex-wrap: 1;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 16px;
}
.card-white:hover {
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}

#chambres{
    position: relative;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.form-chambres{
    display: none;
    position: absolute;
    background: white;
    border: #FF3230 solid 2px;
}